.self-layout {
	&.self-layout-row {
		flex-direction: row;
		margin-bottom: 8px;
	}
}

.auto-layout {
	&.row {
		flex-direction: row;
		> *:not(:last-child) {
			margin-right: 8px;
		}
	}
	&.column {
		flex-direction: column;
		> *:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.margin {
	margin: 8px;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

// For ImXGUI
.window-content-panel {
	> .button {
		margin-bottom: 6px;
	}

	> .label {
		margin-bottom: 6px;
	}
}